LOCATE COMP "clk" SITE "G2";
LOCATE COMP "flash_clk" SITE "U3";
LOCATE COMP "flash_csn" SITE "R2";
LOCATE COMP "flash_io0" SITE "W2";
LOCATE COMP "flash_io1" SITE "V2";
LOCATE COMP "leds[0]" SITE "B2";
LOCATE COMP "leds[1]" SITE "C2";
LOCATE COMP "leds[2]" SITE "C1";
LOCATE COMP "leds[3]" SITE "D2";
LOCATE COMP "leds[4]" SITE "D1";
LOCATE COMP "leds[5]" SITE "E2";
LOCATE COMP "leds[6]" SITE "E1";
LOCATE COMP "leds[7]" SITE "H3";
LOCATE COMP "uart_tx" SITE "L4";
LOCATE COMP "uart_rx" SITE "M1";

IOBUF  PORT "clk" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25 MHZ;
IOBUF PORT "flash_clk" IO_TYPE=LVCMOS33;
IOBUF PORT "flash_csn" IO_TYPE=LVCMOS33;
IOBUF PORT "flash_io0" IO_TYPE=LVCMOS33;
IOBUF PORT "flash_io1" IO_TYPE=LVCMOS33;
IOBUF PORT "leds[0]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "leds[1]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "leds[2]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "leds[3]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "leds[4]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "leds[5]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "leds[6]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "leds[7]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "uart_tx" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "uart_rx" PULLMODE=UP IO_TYPE=LVCMOS33;
